/ChuanDauRa/nbproject/private/
/ChuanDauRa/build/
/ChuanDauRa_Service/nbproject/private/
/API/nbproject/private/
/webServices/nbproject/private/
/api/nbproject/private/
/WebApplication1/nbproject/private/
/ChuanDauRa_service/nbproject/private/
/ChuanDauRa_service/build/
/ChuanDauRa_service/dist/
/API/build/
/API/dist/
/testAPi/nbproject/private/
/testAPi/build/
/testAPi/dist/
/Webservice/nbproject/private/
/Webservice/build/
/Webservice/dist/
/ChuanDauRa Service/nbproject/private/
/ChuanDauRa Service/build/
/Web_api/nbproject/private/
/Web_api/build/
/WebTest/nbproject/private/
/Web_api/dist/
/WebTest/build/
/WebTest/dist/
/TEST WEB/nbproject/private/
/WebApi/nbproject/private/
/WebApi/build/
/WebApi/dist/
/test/nbproject/private/
/test/build/
/test/dist/
/test2/nbproject/private/
/test2/build/
/newTest/nbproject/private/
/newTest/build/
/newTest/dist/
/newTest2/nbproject/private/
/testProject/nbproject/private/
/newTest2/build/
/newTest2/dist/
/testProject/build/
/testProject/dist/
/ChuanDauRa_API/nbproject/private/
/ChuanDauRa_API/build/
/ChuanDauRa_API/dist/
/WebApplication1/build/
/WebApplication1/dist/
/CDR_Test/nbproject/private/
/CDR_Test/build/
/CDR_Test/dist/
/Test]/nbproject/private/
/Test]/build/
/Test]/dist/
/ChuanDauRaAPI/nbproject/private/
/WebAPi/nbproject/private/
/testWeb/nbproject/private/
/testWeb/build/
/testWeb/dist/
/WebAPi/build/
/CDR_API/nbproject/private/
/CDR_API/build/
/CDR_API/dist/
/mavenproject1/target/